* {
    margin: 0;
    padding: 0;
}

/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 10px;
}

.header i {
    cursor: pointer;
    /* padding: 0px 7px; */
}

.header .left  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .left .logo i {
    /* width: 40px; */
    color: red;
    font-size: 30px;
}

.center form{
    border: 1px solid #cccccc;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.center form input {
    width: 566px;   
    border-radius: 0;
    border: none;
    padding: 5px;
}

.center form button {
    border: none;
    height: 100%;
}

.header .right i {
    margin-right: 20px;
    color: gray;
}


.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 250px;
    background-color: white;
    overflow-y: scroll;
}

.sidebar .title {
    font-size: 14px;
    color: #030303;
}

.sidebar .sidebar-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-items .sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar-item span {
    margin-left: 15px;
}

.sidebar-items .sidebar-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.sidebar hr {
    height: 1px;
    background-color: #ddd;
    border: none;
}